<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10110812979-g48702sm4dinp2sn4cli7q57golr3svi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10110812979-g48702sm4dinp2sn4cli7q57golr3svi</string>
	<key>API_KEY</key>
	<string>AIzaSyA9c6CWFZV9VQVJVmnZnK_I-IaLwqC9VAo</string>
	<key>GCM_SENDER_ID</key>
	<string>10110812979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aikyam.aikyam</string>
	<key>PROJECT_ID</key>
	<string>aikyam-e3e25</string>
	<key>STORAGE_BUCKET</key>
	<string>aikyam-e3e25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10110812979:ios:1a3f862ef81b97d9643446</string>
</dict>
</plist>